//MIXINS

//flex-box
@mixin flexCenter {
    display: flex;
    justify-content: center;
}

@mixin flexCenterCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexCenterEnd {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@mixin flexSpBeetCenter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flexEndCenter {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@mixin flexStartStart {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

@mixin flexSpArCenter {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

//img
@mixin bgCenterNoRep {
    background-position: center;
    background-repeat: no-repeat;
}

@mixin bgCenterSizeCover {
    background-position: center;
    background-size: cover;
}

@mixin bgSizeCoverNoRep {
    background-size: cover;
    background-repeat: no-repeat;
}

@mixin cssTricks {
    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

//responsive
@mixin mQ($arg...){
    @if length($arg) == 1{
        @media screen and (max-width: nth($arg,1)){
            @content;
        }
    }
    @if length($arg) == 2{
        @media screen and (max-width: nth($arg,1)) and (min-width: nth($arg,2)){
            @content;
        }
    }
}

//bullet
@mixin bullet{
    width: 14px;
    height: 14px;
    display: inline-block;
    border-radius: 0;
    background: #000;
    opacity: .2;
    transform: rotate(45deg);
}

//section title
@mixin sectionTitle{
    .main-header {
        text-align: center;
        width: 100%;
        height: 30px;
        vertical-align: baseline;
    }
    .main-title {
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        &:before,
        &:after {
            content: '';
            border-top: 1px solid #eaeaea;
            margin: 0 100px 0 0;
            flex: 1 0 20px;
        }
        &:after {
            margin: 0 0 0 100px;
        }
        h3 {
        color: #000000;
        font-family: "Playfair Display";
        font-size: 30px;
        font-weight: 700;
        line-height: 17.76px;
            &:before,&:after{
                content: "";
                @include bullet;
                background-color: #d9bf8f;
                opacity: 1;
                display: inline-block;
                position: relative;
            }
            &:before {
                right: 30px;
                margin-left: -123.5%;
            }
            &:after {
                left: 30px;
                margin-right: -123.5%;
            }
        }
    }
}
    
