//MIXINS

//flex-box
@mixin flexCenter {
    display: flex;
    justify-content: center;
}

@mixin flexCenterCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexCenterEnd {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@mixin flexSpBeetCenter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flexEndCenter {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@mixin flexStartStart {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

//img
@mixin bgCenterNoRep {
    background-position: center;
    background-repeat: no-repeat;
}

@mixin bgCenterSizeCover {
    background-position: center;
    background-size: cover;
}

@mixin bgSizeCoverNoRep {
    background-size: cover;
    background-repeat: no-repeat;
}

//responsive
@mixin mQ($arg...){
    @if length($arg) == 1{
        @media screen and (max-width: nth($arg,1)){
            @content;
        }
    }
    @if length($arg) == 2{
        @media screen and (max-width: nth($arg,1)) and (min-width: nth($arg,2)){
            @content;
        }
    }
}

//section title
@mixin sectionTitle{
    .main-header {
        width: 100%;
        height: 26px;
        @include flexCenterCenter;
    }
    .main-title {
        width: 500px;
        height: 24px;
        @include flexSpBeetCenter;
        flex-direction: row;
        &:before,&:after{
            background-color: #eaeaea;
            content: "";
            display: inline-block;
            height: 1px;
            position: relative;
            vertical-align: middle;
            width: 125%;
        }
        &:before {
            right: 0.5em;
            margin-left: -123.5%;
        }
        &:after {
            left: 0.5em;
            margin-right: -123.5%;
        }
    }
    .dot-star {
        width: 20px;
        height: 20px;
        margin: 9px;
        background-image: url('/img/thumbGold.png');
        @include bgCenterSizeCover;
    }
    .main-title-txt {
        width: 171px;
        height: 24px;
        background-image: url('/img/sectionCardHeder.png');
    }
}